@font-face {
    font-family: 'omo_font'; /* Specify the font name */
    src: url('../assets/omo_font.ttf'); /* Provide the path to your .ttf file */
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  
  .foot_pic {
    max-width: 8vw; /* Adjust the width as needed */
    height: auto;
  }
  
  .text {
    margin-left: 3vw;
    text-align: left;
    color: black;
    font-family: 'omo_font';
    font-size: 3vw;
  }
  