@font-face {
    font-family: 'omo_font'; /* Specify the font name */
    src: url('../assets/omo_font.ttf'); /* Provide the path to your .ttf file */
}

.footer-container {
    display: flex;
    justify-content: center;
    /* padding: 3vw 0; */
  }
  
  .footer-content {
    display: flex;
    align-items: center;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin: 0 1vw;
  }
  
  .foot_pic {
    max-width: 7vw; 
    height: auto;
  }
  
  .text {
    margin-left: 1vw;
    text-align: left;
    color: black;
    font-family: 'omo_font';
    font-size: 2.5vw;
  }
  