@font-face {
    font-family: 'omo_font'; /* Specify the font name */
    src: url('../assets/omo_font.ttf'); /* Provide the path to your .ttf file */
}

.intro{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 10rem;
    font-family: 'omo_font';
    font-size: 3rem;
}

