@font-face {
    font-family: 'omo_font'; /* Specify the font name */
    src: url('../assets/omo_font.ttf'); /* Provide the path to your .ttf file */
}

.main{
    padding-top: 14vw;
}

.portrait{
    margin: auto;
}


.intro{
    margin: 0;
    padding: 0;
    /* display: inline-block; */
    text-align: center;
    font-family: 'omo_font';
    font-size: 5vw;
}

.container {
    align-items: center;
    justify-content: center;
}

.body1{
    font-family: 'omo_font';
    font-size: 3vw;
    float: left;
    text-align: left;
    width: 20em;
    padding: 3em;
}


