@font-face {
    font-family: 'omo_font'; /* Specify the font name */
    src: url('../assets/omo_font.ttf'); /* Provide the path to your .ttf file */
}

.center{
    text-align: center;
}

.navbar {
    list-style-type: none;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 0;
    display: inline-block;
    background-color: white;
    z-index: 2;
    width: 100%;
}

.navbar-item {
    display: inline-block;
    margin-right: 5vw;
}

.last-navbar-item {
    display: inline-block;
}

.navbar-link {
    text-decoration: none;
    color: black;
    font-family: 'omo_font';
    font-size: 5vw;
}


/*line image is 1148 x 248 */

.line {
    width: 100%;
    height: 3vw;
    background-image: url("../assets/line4.png");
    background-repeat: repeat;
    background-size: auto 3vw;
    /* background-size: 100% 100%; */
    position: fixed;
    top: 5.5vw; /* Adjust the value to position the line appropriately */
    left: 0;
    z-index: 1; /* Set a lower z-index to place it below the navbar */
}  

