@font-face {
    font-family: 'omo_font'; /* Specify the font name */
    src: url('../assets/omo_font.ttf'); /* Provide the path to your .ttf file */
}

.resume_main{
    padding-top: 15vh;
}

.elem_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center{
    justify-content: center;
}

.foreword{
    text-align: center;
    color: black;
    font-family: 'omo_font';
    font-size: 2.5vw;
}

.all-page-container {
    height: 100%;
    max-height: 70vh;
    width: 80%;
    overflow: auto;
    margin: auto;
  }

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    height: 100% !important;
}